
<nav class="navbar">
 <div class="wrapper">
     <center>
  <a class="navbar-brand" href="/">anonbomb</a>
  </center>
 </div>
</nav>
<div class="bit-1"><br><br><br><br><br></div>

<div class="bit-1" style="padding:1%">
    <center>
    <h1>404 Error</h1>
    <h3>that url is invalid, sorry.</h3>
    </center>
    
</div>