
<nav class="navbar">
 <div class="wrapper">
     <center>
  <a class="navbar-brand" href="/">anonbomb</a>
  </center>
 </div>
</nav>
<div class="bit-1"><br><br><br><br><br></div>

<div class="bit-1" style="padding:1%">
    
    <form id="getid" action="/newid" method="get">
    <center><button class="btn">get your url to share with friends</button>
    <br><br><hr><br>
    <h2>how's it work?</h2>
    <br>
    <h4>click the button above to get your own unique url to share with friends. you will also receive another url, this is yours. use the second url to see messages people have sent you! don't share the second one!</h4>
    </center>
    </form>
    
</div>