
<nav class="navbar">
 <div class="wrapper">
     <center>
  <a class="navbar-brand" href="/">anonbomb</a>
  </center>
 </div>
</nav>
<div class="bit-1"><br><br><br><br><br></div>

<div class="bit-1" style="padding:1%">
    
    <form id="getid" action="/newid" method="get">
    <center><button class="btn">click here for your urls</button>
    <br><br><hr><br>
    <h2>how's it work?</h2>
    <br>
    <h4>click the button above to receive your personal anonbomb urls. share the first url with friends, so they can leave you messages. visit the second url to see the messages they leave you! (make sure to keep the second url private)</h4>
    </center>
    </form>
    
</div>