<!DOCTYPE html>
<html>
  <head>
       <meta name="viewport" content="initial-scale=1.0, user-scalable=0, width=device-width, height=device-height" />
    <title>{{title}}</title>
    <url rel='stylesheet' href='/stylesheets/style.css' />
        <url rel='stylesheet' href='/stylesheets/lemonade.css' />
    <url rel='stylesheet' href='/stylesheets/normalize.css' />
    <url rel="stylesheet" href="/stylesheets/bootstrap.css">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
