
<nav class="navbar">
 <div class="wrapper">
     <center>
  <a class="navbar-brand" href="/">anonbomb</a>
  </center>
 </div>
</nav>
<div class="bit-1"><br><br><br><br><br></div>

<div class="bit-1" style="padding:1%">
    <center>
    <input style="text-align: center; "class="input-title" value="anonbomb.club/id/{{sid}}">
    <br><br>
    <h3>^ share this one with your friends ^</h3>
        <br><br>
    <input style="text-align: center; "class="input-title" value="anonbomb.club/id/{{pid}}">
    <br><br>
    <h3>^ visit this one to see comments people leave you! ^</h3>
    <br><br><br>
    <i>protip: bookmark the second link (or add it to your home screen) for easier access!</i>
    </center>
    
</div>

<script src="dist/clipboard.min.js"></script>

<script>
    
    
    
    
</script>