
<nav class="navbar">
 <div class="wrapper">
     <center>
  <a class="navbar-brand" href="/">anonbomb</a>
  </center>
 </div>
</nav>
<div class="bit-1"><br><br><br><br><br></div>

<div class="bit-1" style="padding:3%">
    <center>
    <h2>share this url with your friends: <a href="anonbomb.club/id/{{sid}}">anonbomb.club/id/{{sid}}</a></h2>
        <br><br>
<h2>visit this url to see comments you have received: <a href="anonbomb.club/id/{{pid}}">anonbomb.club/id/{{pid}}</a></h2>
    <br><br><br>
    <i>protip: bookmark the second link (or add it to your home screen) for easier access!</i>
    </center>
    
</div>

<script src="dist/clipboard.min.js"></script>

<script>
    
    
    
    
</script>