
<nav class="navbar">
 <div class="wrapper">
     <center>
  <a class="navbar-brand" href="/">anonbomb</a>
  </center>
 </div>
</nav>
<div class="bit-1"><br><br><br><br><br></div>

<div class="bit-1" style="padding:1%">
    <center>
        {{#each data.postss}}
        <center>
        <div class="bit-1" style="border: 1px solid #bfbfbf; padding: 3%">
            
<h4>anonymous commented:</h4> <br> <p>{{{value}}}</p>
            
        </div>
        <div class="bit-1"></div>
        </center>
        {{/each}}
    </center>
    
</div>