
<nav class="navbar">
 <div class="wrapper">
     <center>
  <a class="navbar-brand" href="/"><b><i>anonbomb</i></b></a>
  </center>
 </div>
</nav>
<div class="bit-1"><br><br><br><br></div>

<div class="bit-1" style="padding:3%">
    <center>
 <html >
<head>
  <meta charset="UTF-8">
  <title>ID Form</title>
  
</head>

<body>
  <body>
	<div class="login" style="width:100%">
		<div class="login-screen">
			<div class="app-title">
				<h1>your messages</h1>
			</div>
			<div class="login-form">
                <br>
                {{#each data.postss}}
                
                <div >
                <h3>anonymous commented:</h3> <br> <p>{{{value}}}</p>
                <br>
            
            <font color="#d9d9d9"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{created}}</font>
                
                </div>
                <br>
                <hr>
                <br>
                {{/each}}
                
			</div>
		</div>
		<div>
		    <br><br><br>
<script type="text/javascript">
sa_client = "e1bf7958f1d0c93223e8a698d10b526b";
sa_code = "06f3cade9552106da3b060d96baaa5e3";
sa_protocol = ("https:"==document.location.protocol)?"https":"http";
sa_pline = "3";
sa_maxads = "1";
sa_bgcolor = "FFFFFF";
sa_bordercolor = "3EBEF3";
sa_superbordercolor = "3EBEF3";
sa_linkcolor = "001EB5";
sa_desccolor = "000000";
sa_urlcolor = "005677";
sa_b = "1";
sa_format = "banner_234x60";
sa_width = "234";
sa_height = "60";
sa_location = "0";
sa_radius = "6";
sa_borderwidth = "2";
sa_font = "0";
</script>
<script type="text/javascript" src="//sa.entireweb.com/sense2.js"></script>
		</div>
	</div>
</body>
  
  
</body>
</html>
    </center>
    
</div>

<script>
    
    var intlData = {
    locales : ['en-US']
    }
    
</script>