<nav class="navbar">
 <div class="wrapper">
     <center>
  <a class="navbar-brand" href="/">anonbomb</a>
  </center>
 </div>
</nav>
<div class="bit-1"><br><br><br><br></div>

<div class="bit-1" style="padding:3%">
    <center>
        <form id="sendmessage" action="/send" method="post">
    <h3>send a comment anonymously</h3>
    <br>
    <textarea style="text-align: center; "class="input-title1" name="textbox" placeholder="say something..."></textarea>
    <br><br>
    <center><button class="btnr">send now</button>
    <input name ="hi" hidden value={{data.pid}}>
    </form>
        <br><br><br>
    <i>we do not condone any bullying, this is simply a platform for fun anonymous messages!</i>
    </center>
</div>