<nav class="navbar">
 <div class="wrapper">
     <center>
  <a class="navbar-brand" href="/">anonbomb</a>
  </center>
 </div>
</nav>
<div class="bit-1"><br><br><br><br></div>

<div class="bit-1" style="padding:3%">
    <center>
            <html >
<head>
  <meta charset="UTF-8">
  <title>ID Form</title>
  
</head>

<body>
  <body>
	<div class="login" >
		<div class="login-screen">
			<div class="app-title">
				<h1>send a message</h1>
			</div>
            <form id="sendmessage" action="/send" method="post">
			<div class="login-form">
			    <textarea class="input" name="textbox" placeholder="write something..."></textarea>
			    <br><br>
				<button class="btn btn-primary btn-large btn-block" >send now</button>
				<br>
				<p class="login-link" href="#">anonbomb © 2017 - dec0mpiled</p>
			</div>
		</div>
		
	</div>
</body>
  
  
</body>
</html>
    <input name ="hi" hidden value={{data.pid}}>
    <input name ="loc" hidden value={{{newloc}}}>
    </form>
    </center>
</div>