<nav class="navbar">
 <div class="wrapper">
     <center>
  <a class="navbar-brand" href="/">anonbomb</a>
  </center>
 </div>
</nav>
<div class="bit-1"><br><br><br><br></div>

<div class="bit-1" style="padding:1%">
    <center>
        <form id="sendmessage" action="/send" method="post">
    <h2>send an anonymous comment to '/id/{{data.sid}}'</h2>
    <br>
    <input style="text-align: left; "class="input-title1" name="textbox">
    <br><br>
    <center><button class="btn">send anonymous comment</button>
    <input name ="hi" hidden value={{data.pid}}>
    </form>
    </center>
</div>